textarea {
    width: 800px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
}

input.tex {
    width: 500px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
}

input.tex:hover {
    height: 40px;
}

input.in {
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

input.bot {
    width: 200px;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F1EFEF;
    color: #191717;
}